.animate__slideInDown {
    animation-duration: 1s;
}

.animate__jackInTheBox {
    animation-duration: 1s;
}

.animate__slideInLeft {
    animation-duration: 1s;
}

.animate__slideInRight {
    animation-duration: 1s;
}

@keyframes customPulse {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

.animate__pulse {
    animation: customPulse 2s infinite;
}

.animate__fadeIn {
    animation-duration: 2s;
}