.animate__slideInDown {
    animation-duration: 1s;
}

.animate__jackInTheBox {
    animation-duration: 1s;
}

.animate__slideInLeft {
    animation-duration: 1s;
}

.animate__slideInRight {
    animation-duration: 1s;
}

@keyframes customPulse {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
}

.animate__pulse {
    animation: customPulse 3s infinite;
}

.animate__fadeIn {
    animation-duration: 2s;
}

@keyframes customBounce {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-30px)
    }
    100% {
        transform: translateY(0)
    }
}

.animate__bounce {
    animation: customBounce 3s ease-in-out infinite
}