.animate__slideInDown {
    animation-duration: 1s;
}

.animate__jackInTheBox {
    animation-duration: 1s;
}

.animate__slideInLeft {
    animation-duration: 1s;
}

.animate__slideInRight {
    animation-duration: 1s;
}